html, body, h1, p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: #F5FFFA;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: Open Sans;
  line-height: 1.2;
}

h1{
  font-size: 35px;
  font-weight: 700;
  margin-top: 10px;
}
