.weather-layout{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 550px;
  height: 250px;
  border: 2px solid black;

  padding: 10px;
  text-align: center;
  background-color: lightgreen;
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/abstract-motion-dark-blue-background-4k_nk18sr_xg__F0000.png);
  background-size: cover;
  background-position-y: 20%;
}

.loading{
  margin-top: 100px;
}

.temp {
  font-size: 50px;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .info-holder {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    font-size: 20px;
  }

  .icon {
    margin-left: 5%;
    height: 100px;
    width: 25%;
  }

  .weather-layout p{
    margin: 8px;
  }

  .temp-info {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
